Django==2.2.10
django-celery-beat
django-celery-results
psycopg2
Celery==4.4.0
gunicorn
python-telegram-bot
cached-property
django-constance[database]==2.6.0
pymorphy2[fast]
pymorphy2-dicts-ru